{% extends "layout.html"%} {% block content%}
<h1>Publicaciones</h1>
<h3>Existen {{total_publicaciones}} Publicaciones {{total_publicaciones|pluralize}}</h3>
{% for publicacion in Publicaciones %}
<div class="py-3">
    <div class="card card-body bg-black">
        <div class="row">
            <div class="col-3">
                <img class="img-fluid" src="{{publicacion.imagen.url}}" alt="{{publicacion.titulo}}">

            </div>
            <div class="col-9">
                <h1>{{publicacion.titulo}}</h1>
                <p>{{publicacion.fecha|date:'M d Y'}}</p>
                <p>{{publicacion.descripcion|striptags|truncatechars:100 }}</p>
                <a href="{% url 'blog:detalle_publicaciones' publicacion_id%}"
                    class="btn btn-primary">{{publicacion.titulo}}</a>

            </div>
        </div>
    </div>

</div>
{% endfor%}

{% endblock%}